name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches: ["master-to-remove"]
  workflow_dispatch:

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs mkdocs-material  # Add any other plugins you need

      - name: Build MkDocs site
        run: mkdocs build --clean  # Builds the site into the 'site/' directory by default

      - name: Upload site as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages  # The artifact name must be 'github-pages' to match the deploy step
          path: site/

  # Deploy job
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
